@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", Times New Roman, serif;
  font-weight: bold;
}

* {
  font-family: "Commissioner", Arial, sans-serif;
}

a {
  color: #508080;
}

a:hover {
  color: #e30b5c;
}

html,
body {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #f0f5f5;
  color: #2f4f4f;
}

main {
  padding-bottom: 40px !important;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.subtitle {
  padding-bottom: 5px;
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
  max-width: 1200px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer,
.page-wrap:after {
  height: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}

div.resize {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.controls {
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #c2d6d6;
  height: fit-content;
  width: 525px;
  max-width: 100%;
}

.palette-display {
  width: 550px;
}

.control-group {
  margin-bottom: 20px;
}

select,
button {
  width: 100%;
  padding: 10px;
  border: 1px;
  font-size: 16px;
  cursor: pointer;
}

select:focus,
button:focus {
  outline: 2px solid #508080;
}

button {
  background-color: #508080;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e30b5c;
}

.keep-colors {
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.checkbox-container input {
  margin-right: 10px;
  width: auto;
}

.colour-preview {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #666;
}

.code-block::-webkit-scrollbar {
  height: 8px;
}

.code-block::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.code-block::-webkit-scrollbar-thumb {
  background: #508080;
  border-radius: 4px;
}

.code-block::-webkit-scrollbar-thumb:hover {
  background: #508080;
}

.code-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 525px;
}

.code-block {
  background-color: #213131;
  padding: 15px;
  font-family: monospace;
  font-size: 14px;
  color: #ffffff;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #508080 #f1f1f1;
}

.copy-btn svg {
  display: block;
  pointer-events: none;
}

.copy-btn {
  all: unset;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
}

.copy-btn:hover {
  all: unset;
  color: #e30b5c;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.copy-btn svg {
  display: block;
  pointer-events: none;
}